//colors
$color_mountain_mist_approx: #999;
$gray: grey;
$color_pumice_approx: #cac8c9;
$blue: #07335E;
$green: #c2d65f;
$red: #D14151;

//fonts
$font_0: Helvetica;
$font_1: Helvetica;
$font_2: Helvetica;
$font_3: Helvetica;
//$font_4: Helvetica;
$font_5: Helvetica;
$font_6: sans-serif;
$font_7: Helvetica;

//original selectors
//.calling-points .calling-point.destination .calling-point-station:before, .calling-points .calling-point.origin .calling-point-station:before
%extend_56 {
  top: 3px;
  left: -23px;
  width: 30px;
  height: 30px;
  //background-color: $black;
}

//original selectors
//.calling-points .calling-point .calling-point-splitter:after, .calling-points .calling-point .calling-point-splitter:before
%extend_57 {
  content: ' ';
  position: absolute;
  border-color: $color_pumice_approx;
  border-style: solid;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.calling-points {
  padding: 20px;
  font-size: 16px;
  width: 600px;
  .calling-point {
    list-style: none;
    padding: .25em 0;
    min-height: 3em;
    color: $blue;
    position: relative;
    width: 580px;



    &.destination {
      .calling-point-station:before {
        @extend %extend_56;
      }
      .calling-point-station-container:before {
        height: 20px;
      }
    }
    &.origin {
      .calling-point-station:before {
        @extend %extend_56;
      }
      .calling-point-station-container:before {
        top: .5em;
      }
    }
    &.departed {
      color: $gray;
    }
    &.current {
      .icon-train-circle {
        font-size: 25px;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        left: -32px;
        top: -1px;
        z-index: 5;
        color: $blue;
        background: $blue;
        background-image: url('http://i.imgur.com/5lO8K80.png');
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 50%;
      }
      &.departed {
        .icon-train-circle {
          top: 50px;
        }
        &.nextsplit .icon-train-circle {
          top: 75px;
        }
      }
    }

    .calling-point-time {
      margin-right: 1em;
      display: inline-block;
      float: left;
      font-family: Helvetica, sans-serif;
      letter-spacing: -.05px;
      margin-top: 10px;
      font-size: 30px;
      font-weight: 700;
    }
    .calling-point-time-actual {
      margin-left: -4.11em;
      float: left;
      font-size: 1.25rem;
      line-height: 2.5;
      margin-top: 30px;
    }

    .calling-point-time-actual.late {
      margin-left: -4.11em;
      float: left;
      font-size: 1.25rem;
      line-height: 2.5;
      margin-top: 30px;
      color: $red;
    }

    .calling-point-station-container {
      position: relative;
      margin-left: 9em;
      height: 100px;
      &:before {
        position: absolute;
        left: -10px;
        top: 1px;
        bottom: -2.25em;
        content: ' ';
        display: block;
        width: 4px;
        background: #d7e4ed;
        background-size: 2px;
        z-index: 1;
      }
    }

    .calling-point-station-container-decorator.departed {
      position: relative;
      height: 100px;
      &:before {
        position: absolute;
        left: -14px;
        top: 2px;
        bottom: -2.25em;
        content: ' ';
        display: block;
        width: 12px;
        background: $blue;
        background-size: 2px;
      }
    }
    .calling-point-station-container-decorator.current.departed {
      position: relative;
      height: 50px;
      &:before {
        position: absolute;
        left: -14px;
        top: 2px;
        bottom: -2.25em;
        content: ' ';
        display: block;
        width: 12px;
        background: $blue;
        background-size: 2px;
      }
    }

    .calling-point-timeline-schedule {
      position: relative;
      display: inline-block;
      font-size: 20px;
      font-size: 1.25rem;
      margin-top: 0.6em;
    }

    .calling-point-station-container-overline.departed {
      width: 4px;
      background: $green;
      left: -10px;
      top: 10px;
      position: absolute;
      display: inline;
      height: 110px;
      z-index: 5;
    }
    .calling-point-station-container-overline.current.departed {
      width: 4px;
      background: $green;
      left: -10px;
      top: 10px;
      position: absolute;
      display: inline;
      height: 65px;
      z-index: 5;
    }

    .calling-point-due {
      color: $blue;
      font-size: 14px;
      font-size: 14px;
      padding-left: 50px;
      line-height: 2;
      padding-right: 20px;
      font-size: 1.25rem;
    }
    &.selected .calling-point-station {
      font-weight: 700;
    }

    .calling-point-due.departed {
      color: $gray;
      font-size: 14px;
      font-size: 14px;
      padding-left: 50px;
      line-height: 2;
      padding-right: 20px;
      font-size: 1.25rem;
    }

    .calling-point-dueInfo{
      float: left;
    }

    .calling-point-dueInfo.late{
      float: left;
      color: $red;
    }

    .calling-point-dueInfo.departed{
      float: left;
      color: $gray;
    }

    .calling-point-station {
      margin-left: 50px;
      margin-top: 5px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      font-size: 30px;
    }

    .calling-point-station:before {
      border-radius: 50%;
      content: ' ';
      height: 30px;
      left: -23px;
      position: absolute;
      top: 5px;
      width: 30px;
      z-index: 3;
      background: #ffffff;
      box-shadow: 0 0 0 4px #B4CFDD, inset 0 0 0 1px #B4CFDD;
    }

    .calling-point-station.departed:before {
      border-radius: 50%;
      content: ' ';
      height: 30px;
      left: -23px;
      position: absolute;
      top: 5px;
      width: 30px;
      z-index: 3;
      background: $green;
      box-shadow: 0 0 0 4px $blue;
    }
  }
}


